<div class="card-columns m-5">
    <div class="card mb-3" *ngFor="let item of items" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4" (click)="seeDetails(item.Title)">
                <img [src]="item.Poster" class="card-img m-1 pointer" [alt]="item.Title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.Title }}</h5>
                    <p class="card-text">
                        <strong>Description: </strong>{{ item.Plot }}
                    </p>
                    <p class="card-text">
                        <small class="badge badge-pill badge-primary">Year:{{ item.Year }}</small>
                    </p>
                    <button *ngIf="exists" type="text" class="btn btn-primary m-1" (click)="addToFavorites(item)" >Add to favorites</button>
                    <button *ngIf="!exists" type="text" class="btn btn-danger m-1" (click)="removeToFavorites(item)" >Remove to favorites</button>
                </div>
            </div>
        </div>
    </div>
</div>